<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ftp_UploadDirectory" value="C:\Users\chuck.collins\Documents\Visual Studio 2015\Projects\QuickTab_FTP\test_file\outbound\" />
    <add key="ftp_file" value="test_file.txt" />
    <add key="ftp_OutboundFolder" value="/outbound/" />
    <add key="ftp_host" value="filetransfer.alphaimpactrx.com" />
    <add key="ftp_username" value="quicktab" />
    <add key="ftp_password" value="N3wS0lut10n" />
    <add key="ftp_port" value="22" />
    <add key="ftp_InboundFolder" value="/inbound/"/>
    <add key="ftp_DownloadDirectory" value="C:\Users\chuck.collins\Documents\Visual Studio 2015\Projects\QuickTab_FTP\test_file\inbound\" />
    <add key="Database_Name" value="IRX_QuickTab_DB" />
    <add key="Database_Username" value="cdomii_admin" />
    <add key="Database_Password" value="7k,c46Ln!" />
    <add key="ftp_UNCOutbound_Directory" value="\\Airx-ftp01\ftp\Vendors and Partners\QuickTab\outbound" />
    <add key="ftp_UNCInbound_Directory" value="\\Airx-ftp01\ftp\Vendors and Partners\QuickTab\inbound" />
    <add key="DB_Host_Name" value="SQL09" />
    <add key="SQLProvider_Name" value="WH_PROD" />
    <add key="Database_Name" value="IRX_QuickTab_DB" />
    <add key="Database_Username" value="irx_query" />
    <add key="Database_Password" value="irx_query" />
  </appSettings>
</configuration>